<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex  uk-border-rounded uk-margin-medium-top" style="background-image: url('img/slide1.png'); background-color: #000; opacity: ;">
    <div class="uk-width-1-1@m uk-text-left  uk-margin-auto-vertical uk-margin-medium-top">
        <div class="uk-container">
            <h1 style="font-size: 46px;" class="" >Plataforma 
                de Interconexão<br>
                de Internet e Cloud <br> para 
                empresas</h1>
                <p class="uk-margin-small-top">Da Madeira para o Mundo</p>

            <a><button class="uk-margin-medium-top uk-button uk-button-secondary uk-border-pill">Saiba Mais</button></a>
        </div>
        
    </div>
</div>