<div class="uk-child-width-expand@s" uk-grid>

    <div class="uk-container">

        <div class="uk-container">
            <h1>
                Precificação
            </h1>

            <p class="uk-margin-medium-top">
                
O MAD-CIX cobra uma taxa mensal recorrente ("MRC", na sigla inglesa) 
para o seu serviço de Peering Público mais os seus custos de instalação 
(pagos apenas uma vez) / encargos não recorrentes ("NRC", sigla inglesa).
<br>
<br>Não há custos adicionais para o tráfego ou para o uso dos servidores de 
rota MAD-CIX
            </p>
        </div>
    
    <table class="uk-table uk-table-small uk-table-divider">
        <thead>
            <tr>
                <th class="uk-text-center"></th>

                <th class="uk-text-center"><b>1GE line rate</b><br>
                    1000 Base-LX</th>
                    <th class="uk-text-center"><b>10GE line rate</b><br>
                        10000 Base-LR</th>
                <th class="uk-text-center"><b>Cross <br> Connect</b></th>

              
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="uk-text-center"><b>Velocidade (Gbps)</b></td>
                <td class="uk-text-center">1Gbps</td>

                <td class="uk-text-center">10Gbps</td>
                <td class="uk-text-center">--</td>
                
                
            </tr>
            <tr>
                <td class="uk-text-center"><b>Taxa de Instalação (NRC)</b></td>
                <td class="uk-text-center">€ 300</td>

                <td class="uk-text-center">€ 500</td>
                <td class="uk-text-center">--</td>
                
            </tr>
            <tr>
                <td class="uk-text-center"><b>Taxa de Instalação (MRC)</b></td>
                <td class="uk-text-center">€ 450</td>

                <td class="uk-text-center">€ 750</td>
                <td class="uk-text-center">€ 100</td>
               
            </tr>

            <tr>
                <td class="uk-text-center"></td>
                <td class="uk-text-center">    <a class="uk-button uk-button-secondary uk-border-pill" href="#">Solicitar</a>
                </td>

                <td class="uk-text-center">    <a class="uk-button uk-button-secondary uk-border-pill" href="#">Solicitar</a>
                </td>
                <td class="uk-text-center">    <a class="uk-button uk-button-secondary uk-border-pill" href="#">Solicitar</a>
                </td>
               
            </tr>
        </tbody>
    </table>

    </div>
</div>