<app-menu></app-menu>

<!-- painel acima-->



<!--conteúdo-->

<div class="fundo">

    <div class=" uk-container uk-margin-medium-top  ">

        <div class="uk-margin-large-left uk-margin-large-right uk-margin-large-top ">
            <div class="  uk-grid-collapse uk-child-width-1-2@s uk-text-left uk-grid-match uk-border-rounded" uk-grid>
                
                <div class="uk-margin-large-bottom uk-margin-large-top">
                    <div class=" uk-padding uk-background-muted ">
                        <h2 class="uk-margin-medium-top">MADCIX</h2>
                        <h1 style="font-weight: bold;" class="uk-heading-small">
                            MADEIRA CLOUD INTERNET EXCHANGE</h1>
                        <p style="color: #000;" class="uk-margin-medium-top">O MAD-CIX tem como objetivo disponibilizar uma plataforma para 
                            organizações nacionais e internacionais onde o tráfego IP é comutado a 
                            alta velocidade, promovendo encaminhamento do tráfego IP com baixa 
                            latência entre os seus membros.<br><br>
                            A adesão como membro do MAD-CIX é aberta a todas as organizações 
                            que cumpram os requisitos técnicos e legais, facilitando uma plataforma 
                            de troca de tráfego IP a todos os seus membros.<br><br>
                            A troca de tráfego no MAD-CIX é realizada através de acordos de peering
                            entre as partes locais e internacionais sendo usado o BGP (Border
                            Gateway Protocol).<br><br>
                            Aumentam-se as interligações na Madeira de várias redes de IP, reduz-se 
                            o excesso de utilização de recursos internacionais, menos custos e 
                            melhor qualidade para trânsito de pacotes IP com ligações de origem e 
                            destino na Madeira para o Mundo.</p>
        
                            <div class="uk-margin-medium-top ">
                                <a class=""><button class="uk-button uk-button-secondary bt-mdcix uk-border-pill">Tornar-se membro</button></a>
        
                            </div>
        
                    </div>
                </div>
              
                
               
            </div>
        
         
        </div>
        
        </div>

</div>






<app-rodape></app-rodape>
