<app-menu></app-menu>


<div class="fundo uk-margin-large-top">

    <div class=" uk-container uk-margin-medium-top uk-margin-large-bottom  ">
   
        <div class="uk-margin-large-right uk-margin-large-left uk-text-left uk-margin-large-top uk-margin-large-bottom">
            <h2 style="color: #fff;" class="uk-margin-medium-top">MADCIX</h2>
            <h1 style="font-weight: bold; color: #fff;" >
                MADEIRA CLOUD INTERNET EXCHANGE</h1>
                <h2 style="color: #fff;" class="uk-text-left">Ponto Neutro de Troca de Tráfego de Internet e Cloud de 
                    ligação eficiente de empresas desde a Madeira para 
                    diferentes organizações internacionais.</h2>
        </div>

        
        </div>

</div>


<div class=" uk-container uk-margin-large-top ">

            
    <div class="  uk-grid-collapse uk-child-width-1-2@s  uk-grid-match uk-border-rounded" uk-grid>
        
        
        <div class="uk-margin-large-bottom ">
            <div class=" uk-margin-large-left   ">
                
                <h1><b>Ligadas entre si na Internet e Cloud</b></h1>
                
                <p style="color: #000;" class="uk-margin-medium-top">O MAD-CIX tem como objetivo disponibilizar uma plataforma para 
                    organizações nacionais e internacionais onde o tráfego IP é comutado a 
                    alta velocidade, promovendo encaminhamento do tráfego IP com baixa 
                    latência entre os seus membros.<br><br>
                    A adesão como membro do MAD-CIX é aberta a todas as organizações 
                    que cumpram os requisitos técnicos e legais, facilitando uma plataforma 
                    de troca de tráfego IP a todos os seus membros.<br><br>
                    A troca de tráfego no MAD-CIX é realizada através de acordos de peering
                    entre as partes locais e internacionais sendo usado o BGP (Border
                    Gateway Protocol).<br><br>
                    Aumentam-se as interligações na Madeira de várias redes de IP, reduz-se 
                    o excesso de utilização de recursos internacionais, menos custos e 
                    melhor qualidade para trânsito de pacotes IP com ligações de origem e 
                    destino na Madeira para o Mundo.</p>

                 
            </div>
        </div>
        
        <div class="uk-margin-large-bottom ">

            <div class=" uk-margin-large-right uk-margin-large-left uk-flex uk-flex-middle uk-flex-center  " >

                <video loop="true" autoplay="true" src="vid/cx.mp4" alt="" class="uk-border-rounded"   ></video>
                
            </div>
                
        
        </div>
      

      
        
        
        
       
    </div>



    

 
</div>





<div class=" fundo uk-margin-large-top">
    <div class="uk-container  uk-padding">
        <h1 style="color:#fff; font-weight: bolder;">Porquê o MAD-CIX? </h1>
    </div>
    <div class=" uk-container uk-margin-small-top uk-margin-large-bottom  ">
   
        
        <div class="uk-margin-small-top uk-child-width-1-2@m uk-grid-small uk-grid-match uk-margin-large-bottom " uk-grid>

            <div>
                <div class="  uk-card uk-card-secondary uk-card-body uk-border-rounded">
                    <h1 class="uk-card-body uk-heading"><span class="uk-margin-small-right" uk-icon="icon: bookmark; ratio: 3"></span>Pioneira</h1>
                    <h3 class="uk-card-body">Não há outro IXP na Madeira como ponto de entrada na Europa e ponto 
                        autónomo de agregador de internet de nómadas digitais e empresas que 
                        precisam de trocar tráfego na Madeira. </h3>
                </div>
            </div>
            <div>
                <div class="  uk-card uk-card-secondary uk-card-body uk-border-rounded">
                    <h1 class="uk-card-body - uk-heading"><span class="uk-margin-small-right" uk-icon="icon: lifesaver; ratio: 3"></span>
                        Autónoma</h1>
                    <h3 class="uk-card-body">Até hoje a internet do Mundo
                        não vê uma zona de internet na Madeira, para além da dependência do 
                        IXP de Portugal Continental .</h3>
                </div>
            </div>
          
        </div>
    


        
        </div>

</div>







<app-rodape></app-rodape>
