.fundo{
    background-image: url('/img/sobre-madcix.png');
    background-color: black;
    background-position: center;   
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.fundo2{

    background-color: #FFA07A;
    background-position: center;   
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.fundo-card{
    background-image: url('/img/madcix-bg.png');
    background-position: center;   
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.fundo-card2{
    background-image: url('/img/madcix-bg-2.png');
    background-position: center;   
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}


.bt-mdcix{
    background: linear-gradient(45deg, #0378ff, #933800);
    color: white;
}

.uk-card-secondary{
   
    /* Semi-transparent white background */
    background: rgba(59, 59, 59, 0.3);
    
    /* Blur effect for the glass-like appearance */
    backdrop-filter: blur(10px);
    
    /* Optional: Add some border-radius for a softer look */
    border-radius: 10px;
    
    /* Optional: Add a subtle border for depth */
    border: 1px solid rgba(255, 255, 255, 0.653);
    
    /* Optional: Shadow for more depth */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

}
