.fundo{
    background-image: url('/img/sobre-madcix.png');
    background-position: center;   
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

}

.uk-flex-middle {
    /* Align items vertically */
    align-items: center;
}

.uk-flex-center {
    /* Align items horizontally */
    justify-content: center;
}

/* Optional: If you want to ensure the form doesn't stretch too wide */
form {
    max-width: 300px; /* or any width you prefer */
}

.uk-card-secondary{
   
        /* Semi-transparent white background */
        background: rgba(59, 59, 59, 0.3);
        
        /* Blur effect for the glass-like appearance */
        backdrop-filter: blur(10px);
        
        /* Optional: Add some border-radius for a softer look */
        border-radius: 10px;
        
        /* Optional: Add a subtle border for depth */
        border: 1px solid rgba(255, 255, 255, 0.653);
        
        /* Optional: Shadow for more depth */
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    
}

.uk-button-secondary:hover{


box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
transform: translateY(-3px);
transition: all 0.3s ease-in-out;
cursor: pointer;

}