<app-menu></app-menu>

<div class="fundo uk-flex uk-flex-middle uk-flex-center uk-height-viewport">


    <div class="uk-card uk-card-secondary uk-border-rounded">
        <p class="uk-text-center uk-margin-large-top"> Entre com sua conta <br> cliente MAD-CIX</p>
    <form class="uk-padding uk-text-center uk-light">
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-border-pill uk-input" type="text" aria-label="Not clickable icon" placeholder="Seu e-mail">
            </div>
        </div>
    
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input uk-border-pill" type="text" aria-label="Not clickable icon" placeholder="Sua senha">
            </div>
        </div>

        <button class="uk-button-secondary uk-button uk-border-pill">ENTRAR</button>
    </form>
</div>
</div>
<app-rodape></app-rodape>