<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
  
            <!-- First Column: Address and Google Maps -->
            <div class="footer-column">
               
                <p class="uk-margin"><b>MAD-CIX</b></p>
                <ul class="footer-links">
                    <li class="uk-margin uk-margin-small-right"> Ponto Neutro de Troca de Tráfego de Internet e Cloud de ligação eficiente de empresas desde a Madeira para diferentes organizações internacionais.</li>
                </ul>
            </div>
  
           
            <!-- Second Column: Links and Contact Info -->
            <div class="footer-column">
               
                <p><b>LINKS ÚTEIS</b></p>
                <ul class="footer-links">
                    <li><a href="https://devcamp.fluxo-digital.com/"> > Peering público </a></li>
                    <li><a href="https://playout.fluxo-digital.net/"> > Private Interconnect</a></li>
                    <li><a href="#"> > Cloud Acess</a></li>
                </ul>
            </div>
  
            <!-- Third Column: Social Media Links and Contact Info -->
            <div class="footer-column">
                <p><b>CONTACTO</b></p>
                <p> > Email: <a class="link" href="mailto:geral@fluxodigital.com">geral&#64;madcix.com</a></p>
                <p> > Móvel: <a class="link" href="tel:+244937754502">+244 937 754 502</a></p>
                <p> > Fixo: <a class="link" href="tel:+2449222719920">+244 222 719 920</a></p>
  
  
                
            </div>
  
           
  
  
        </div>
    </div>
  
  
  </footer>
  <footer>
    <div class="uk-text-center uk-margin-small-top uk-margin-small-bottom">
      &copy; 2025. MADCIX . Todos os direitos reservados.
    </div>
  </footer>