
<!-- -->
<div style="background: linear-gradient(45deg, #070062, #933800);" >

    <div class="uk-padding">
        <div class="uk-grid-small uk-grid-match  uk-child-width-expand@s uk-text-center uk-margin-large-top uk-margin-large-bottom" uk-grid>
            <div>
                <div class="madcix-bg uk-padding uk-light">
                    <h1 style="font-size:5vw; font-weight: 700;">+16</h1>
                    <h3 style="font-size:1vw; " class="uk-margin-small-bottom">Redes Conectadas</h3>
                    <a><button  class="uk-button uk-button-secondary uk-border-rounded responsive-button">Ver Redes</button></a>
                </div>
            </div>
            <div>
                <div class="madcix-bg uk-padding uk-light">
                    <h1 style="font-size:5vw; font-weight: 700;">+1.5</h1>
                    <h3  style="font-size:1vw; line-height: 1%; "  class="uk-margin-small-bottom">Tb/s trafegados</h3>
                    <a><button  class="uk-button uk-button-secondary uk-border-rounded responsive-button">Ver Redes</button></a>

                </div>
            </div>
            <div>
                <div class="madcix-bg uk-padding uk-light">
                    <h1 style="font-size:5vw; font-weight: 700;">+9</h1>
                    <h3 style="font-size:1vw; "  class="uk-margin-small-bottom">Países </h3>
                    <a><button  class="uk-button uk-button-secondary uk-border-rounded responsive-button">Ver Mapa</button></a>

                </div>
            </div>
            <div>
                <div class="madcix-bg uk-padding uk-light">
                    <h1 style="font-size:5vw; font-weight: 700;">+7</h1>
                    <h3 style="font-size:1vw; " class="uk-margin-small-bottom">Empresas </h3>
                    <a><button  class="uk-button uk-button-secondary uk-border-rounded responsive-button">Juntar-se</button></a>

                </div>
            </div>
            <div>
                <div class="madcix-bg uk-padding uk-light">
                    <h1 style="font-size:5vw; font-weight: 700;">17</h1>
                    <h3 style="font-size:1vw; "  class="uk-margin-small-bottom">Redes Gaming </h3>
                    <a><button  class="uk-button uk-button-secondary uk-border-rounded responsive-button">Juntar-se</button></a>

                </div>
            </div>
            <div>
                <div class="madcix-bg uk-padding uk-light">
                    <h1 style="font-size:5vw; font-weight: 700;">+3</h1>
                    <h3 style="font-size:1vw; "  class="uk-margin-small-bottom">Clouds Públicas </h3>
                    <a><button  class="uk-button uk-button-secondary uk-border-rounded responsive-button">Juntar-se</button></a>

                </div>
            </div>
        </div>
    </div>

</div>