<div class="uk-margin-large-left uk-margin-large-right uk-margin-large-top uk-margin-large-bottom">
    <div class=" uk-grid-collapse uk-child-width-expand@s uk-text-left " uk-grid>
        <div>
            <div class="uk-background-muted uk-padding">
                <h1 style="font: size 1.5em ;font-weight: 700;">Peering<br> Público</h1> 
                <p>Troque tráfego de internet usando 
                    apenas uma conexão e um cross connect.</p>
                    <div class="uk-margin-medium-top">
                        <a ><button class="uk-button bt-mdcix uk-border-pill">Saiba Mais</button></a>
                    </div>
            </div>
        </div>
        <div>
            <div class="uk-background-muted uk-padding">
                <h1 style="font: size 1.5em ; font-weight: 700;">Private<br> Interconnect</h1> 
                <p>Conexão directa, privada e de alto desempenho entre membros ponto de troca MADCIX</p>
                    <div class="uk-margin-medium-top">
                        <a ><button class="uk-button bt-mdcix uk-border-pill">Saiba Mais</button></a>
                    </div>
            </div>
        </div>
        <div>
            <div class="uk-background-muted uk-padding">
                <h1 style="font: size 1.5em ;font-weight: 700;">Cloud<br> Acess</h1> 
                <p>Conexões privadas com grandes provedores de nuvem, evitando o uso da internet pública.</p>
                    <div class="uk-margin-medium-top">
                        <a ><button class="uk-button bt-mdcix uk-border-pill">Saiba Mais</button></a>
                    </div>
            </div>
        </div>
    </div>

</div>