<app-menu></app-menu>




<div class=" uk-background-muted uk-border-rounded    ">



    <div class="  uk-container">

        <div class=" uk-margin-large-top uk-grid-collapse uk-child-width-1-2@s uk-grid-match  uk-border-rounded" uk-grid>


            <div class="uk-margin-large-bottom  ">

                <div class=" uk-margin-medium-top uk-grid-collapse ">
                    <h1 class="uk-heading-medium">Torna-te um membro<br> do <b>MAD-CIX</b></h1>
                    <p class="uk-margin-medium-right" >
                        O Peering Público MAD-CIX é um serviço eficiente e de baixo custo que permite que sua empresa troque dados locais com outras empresas na Madeira e interconecte com múltiplas redes diretamente no mundo. MAD-CIX está ligado às maiores plataformas de peering mundiais onde se troca tráfego IP. Vai poder trocar tráfego de internet usando apenas uma conexão e um cross connect.
                    </p>
                    <br>
                 

                    <div class="uk-margin-medium-top">

                        <a class="uk-margin-small-right uk-margin-small-bottom bt-mdcix uk-button uk-button-secondary uk-button-large uk-border-pill" href="#pricing" uk-toggle>Preços</a>


                            <a class="uk-margin-small-right uk-margin-small-bottom bt-mdcix uk-button uk-button-secondary uk-button-large uk-border-pill" href="#aderir" uk-toggle>Aderir</a>

                  
                    
                    <a class="uk-margin-small-right uk-margin-small-bottom bt-mdcix uk-button uk-button-secondary uk-button-large uk-border-pill" href="#spec" uk-toggle>Requisitos</a>


                    </div>
              

                </div>
            </div>



            <div tyle="bottom:0px" class="uk-margin-large-bottom ">
                <div class="  uk-margin-large-top uk-grid-collapse  ">
           
                    <ul uk-accordion>
                       
                    
                      
                        <li>
                            <a class="uk-accordion-title" href>
                                <h2  class="uk-heading"><b>Redução de Custos</b></h2>
                            </a>
                            <div class="uk-accordion-content">
                                <p >
                                    Ao interconectar-se diretamente com outras redes, as empresas podem reduzir os custos associados ao tráfego IP que normalmente seria cobrado por provedores de serviços de internet (ISPs).
    
                                </p>
                            </div>

                        </li>

                        <li>
                            <a class="uk-accordion-title" href>
                                <h2  class="uk-heading"><b>Baixa Latência</b></h2>
                            </a>
                            <div class="uk-accordion-content">
                                <p >
                                    A conexão direta entre redes locais reduz o número de saltos (hops) necessários para a transferência de dados, resultando em uma latência mais baixa. Isso é particularmente crucial para serviços sensíveis ao tempo, como VoIP, streaming de vídeo e jogos online.    
                                </p>
                            </div>

                        </li>

                        <li>
                            <a class="uk-accordion-title" href>
                                <h2  class="uk-heading"><b>Maior Desempenho</b></h2>
                            </a>
                            <div class="uk-accordion-content">
                                <p >
                                    Com a redução da latência e uma melhor gestão do tráfego, há um aumento na velocidade e eficiência das comunicações, o que pode melhorar significativamente a experiência do usuário final.                                </p>
                            </div>

                        </li>

                        <li>
                            <a class="uk-accordion-title" href>
                                <h2  class="uk-heading"><b>Esclabilidade</b></h2>
                            </a>
                            <div class="uk-accordion-content">
                                <p >A estrutura de um Internet Exchange Point (IXP) permite que as empresas escalem facilmente suas necessidades de banda conforme a demanda cresce, sem a necessidade de grandes investimentos em infraestrutura própria.
                                </p>                            
                                </div>

                        </li>

                        <li>
                            <a class="uk-accordion-title" href>
                                <h2  class="uk-heading"><b>Acesso a Múltiplas Redes</b></h2>
                            </a>
                            <div class="uk-accordion-content">
                                <p >
                                    Estar conectado a um IXP como o MADEIRA CLOUD INTERNET EXCHANGE significa ter acesso direto a uma comunidade de redes que podem oferecer serviços complementares ou redundantes, aumentando a diversidade de conexões e possibilidades de negócios.
                                     </p>
                                                            </div>

                        </li>

                        <li>
                            <a class="uk-accordion-title" href>
                                <h2  class="uk-heading"><b>Suporte à Inovação e Novos Serviços</b></h2>
                            </a>
                            <div class="uk-accordion-content">
                                <p >
                                    Com uma infraestrutura mais robusta e eficiente, é mais fácil para as empresas experimentar e implementar novos serviços ou expandir os existentes, como aplicações de alta demanda de dados ou serviços baseados na nuvem.                                     </p>
                                                            </div>

                        </li>
                    </ul>


                </div>
            </div>






        </div>

        <app-membros></app-membros>

        


    </div>

</div>








<app-rodape></app-rodape>