<app-menu></app-menu>


<div class="fundo uk-margin-large-top">

    <div class=" uk-background-muted uk-container uk-margin-medium-top  ">
   
        <div class="uk-margin-large-right uk-margin-large-left uk-text-left uk-margin-large-top ">
            <h2 class="uk-margin-medium-top">MADCIX</h2>
            <h1 style="font-weight: bold;" class="uk-heading-small">
                MADEIRA CLOUD INTERNET EXCHANGE</h1>
                <h2 class="uk-text-left">Ponto Neutro de Troca de Tráfego de Internet e Cloud de 
                    ligação eficiente de empresas desde a Madeira para 
                    diferentes organizações internacionais.</h2>
        </div>

        <div class="uk-margin-large-left uk-margin-large-right ">
            
            <div class="  uk-grid-collapse uk-child-width-1-3@s  uk-grid-match uk-border-rounded" uk-grid>
                
                
                <div class="uk-margin-large-bottom ">
                    
                    <div class="  ">
                        

                        
                        <p style="color: #000;" class="uk-margin-medium-top">O MAD-CIX tem como objetivo disponibilizar uma plataforma para 
                            organizações nacionais e internacionais onde o tráfego IP é comutado a 
                            alta velocidade, promovendo encaminhamento do tráfego IP com baixa 
                            latência entre os seus membros.<br><br>
                            A adesão como membro do MAD-CIX é aberta a todas as organizações 
                            que cumpram os requisitos técnicos e legais, facilitando uma plataforma 
                            de troca de tráfego IP a todos os seus membros.<br><br>
                            A troca de tráfego no MAD-CIX é realizada através de acordos de peering
                            entre as partes locais e internacionais sendo usado o BGP (Border
                            Gateway Protocol).<br><br>
                            Aumentam-se as interligações na Madeira de várias redes de IP, reduz-se 
                            o excesso de utilização de recursos internacionais, menos custos e 
                            melhor qualidade para trânsito de pacotes IP com ligações de origem e 
                            destino na Madeira para o Mundo.</p>
        
                         
                    </div>
                </div>
              

                <div class="uk-margin-large-bottom ">
                    <div class=" uk-padding  ">
                        <h2 class="">Porquê <br>o MAD-CIX?</h2>
                       
                        <p style="color: #000;" class="uk-margin-medium-top">Não há IXP na Madeira como ponto de entrada na Europa e ponto 
                            autónomo de agregador de internet de nómadas digitais e empresas que 
                            precisam de trocar tráfego na Madeira. Até hoje a internet do Mundo
                            não vê uma zona de internet na Madeira, para além da dependência do 
                            IXP de Portugal Continental . </p>
                            <div class="uk-margin-small-top">
                                <img class="uk-border-rounded" src="img/madcix-madeira.png">

                            </div>

        
                    </div>
                </div>
              
                
                <div class="uk-margin-large-bottom">
                    <div class=" ">
                        <h2 class="uk-margin-medium-top">Evolução da Internet com ligação direta na Madeira com o MAD-CIX</h2>
                      
                        <p style="color: #000;" class="uk-margin-medium-top">O MAD-CIX tem como objetivo disponibilizar uma plataforma para 
                            organizações nacionais e internacionais onde o tráfego IP é comutado a 
                            alta velocidade, promovendo encaminhamento do tráfego IP com baixa 
                            latência entre os seus membros.<br><br>
                            A adesão como membro do MAD-CIX é aberta a todas as organizações 
                            que cumpram os requisitos técnicos e legais, facilitando uma plataforma 
                            de troca de tráfego IP a todos os seus membros.<br><br>
                            A troca de tráfego no MAD-CIX é realizada através de acordos de peering
                            entre as partes locais e internacionais sendo usado o BGP (Border
                            Gateway Protocol).<br><br>
                            Aumentam-se as interligações na Madeira de várias redes de IP, reduz-se 
                            o excesso de utilização de recursos internacionais, menos custos e 
                            melhor qualidade para trânsito de pacotes IP com ligações de origem e 
                            destino na Madeira para o Mundo.</p>
        
                            <div class="uk-margin-medium-top ">
                                <a class=""><button class="uk-button uk-button-secondary bt-mdcix uk-border-pill">Tornar-se membro</button></a>
                            </div>
                    </div>
                </div>
              
                
                
               
            </div>
        
         
        </div>
        
        </div>

</div>






<app-rodape></app-rodape>
