.fundo{
    background-image: url('/img/sobre-madcix.png');
    background-position: center;   
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}



.bt-mdcix{
    background: linear-gradient(45deg, #0378ff, #933800);
    color: white;
}


