.fundo{
    background-image: url('/img/sobre-madcix.png');
    background-position: center;   
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}



.bt-mdcix{
    background: linear-gradient(45deg, #0378ff, #933800);
    color: white;
}


.bt-mdcix:hover{
    background: linear-gradient(45deg, #0378ff, #933800);
    color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
    transition: all 0.3s ease-in-out;

}


