<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>
  
    <div>
        <div class="  uk-light">
            <img style="width: 100%;" src="img/cala.jpeg" >
        </div>
    </div>
    <div>
        <div class="  uk-light">
            <img style="width: 100%;" src="img/cloudflare.jpeg" >

        </div>
    </div>
</div>


<div class="uk-margin-large-left uk-margin-large-right uk-margin-large-top uk-margin-large-bottom">
    <div class=" uk-grid-collapse uk-child-width-expand@s uk-text-center  uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-border uk-padding">
                <img height="80px" width="50px" class="uk-border-rounded" src="img/egameslab.png" alt="">
            </div>
        </div>
        <div>
            <div class=" uk-padding uk-card uk-card-default uk-border-rounded">
                <img height="80px" width="50px" class="uk-border-rounded" src="img/madeira.png" alt="">

            </div>
        </div>
        <div>
            <div class=" uk-padding uk-card uk-card-default uk-border">
                <img height="100px" width="100px" class="uk-border-rounded" src="img/img-prr.png" alt="">

            </div>
        </div>
        <div>
            <div class=" uk-padding uk-card uk-card-default uk-border">
                <img height="100px" width="100px" class="uk-border-rounded" src="img/NextGenerationEU_logo.png" alt="">

            </div>
        </div>
        <div>
            <div class=" uk-padding uk-card uk-card-default uk-border">
                <img height="100px" width="100px" class="uk-border-rounded" src="img/republica.png" alt="">

            </div>
        </div>
       
    </div>

</div>


