<app-menu></app-menu>
<div class="uk-container uk-text-center">
    
</div>


<div class="uk-margin-large-left uk-margin-large-right uk-margin-small-top uk-margin-large-bottom">
    
        
        <div>
            <div class=" uk-padding">
                <h1 style="font-weight: 700;" class="uk-text-center uk-margin-large-top">Membros</h1>

            </div>
        </div>

<div class="uk-container uk-text-center uk-padidng">


        <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
            <div>
                <img src="img/logos/nos-logo.png">
            </div>
            <div>
                <img src="img/logos/ripe-logo.png">
            </div>
        </div>

        <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
            <div>
                <img src="img/logos/emacon-logo.png">    
            </div>
            <div>
                <img src="img/logos/yacooba.png">    

            </div>
        </div>
    
    </div>
      
       
    </div>

    <div class="uk-text-center">
        <a><button class="uk-button uk-button-secondary bt-mdcix uk-border-pill">Tornar-se membro</button></a>

    </div>

«
<app-rodape></app-rodape>