/* You can add global styles to this file, and also import other style files */
body, p, a, h1, h2, h3, h4, h5, h6, span, li, nav{
  font-family: "Saira", serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
  padding: 0;
}

li>a {

  font-family: "Saira", serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
  padding: 0;

}
